# Machine Learning Zoomcamp


## Session # 1 Homework



## Alfredo Baron Ocampo

### Question 1

What's the version of NumPy that you installed?

In [1]:
import numpy as np
#numpy version
np.__version__

'1.11.0.dev0+cee68d1'

### Question 2
What's the version of Pandas?

In [2]:
import pandas as pd
#pandas version
pd.__version__

'0.16.2'

#### Download and read the file https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv in pandas

In [5]:
#Read dataset from file
df=pd.read_csv('data.csv')
print(df)

          Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]

### Question 3
What's the average price of BMW cars in the dataset?

In [10]:
#Average price of BMW cars
df[df.Make == 'BMW'].MSRP.mean()

61546.76347305389

### Question 4

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [26]:
#Subset of cars after year 2015
df2 = df[df.Year >= 2015]
#Cars with missign values in Engine HP
print('Number of cars with missign Engine HP value are ')
print(len(df2[pd.isnull(df2['Engine HP'])].index))

Number of cars with missign Engine HP value are
51

### Question 5

* Calculate the average "Engine HP" in the dataset.
* Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
* Now, calculate the average of "Engine HP" again.

Has it changed?

** Round both means before answering this questions.

In [31]:
#Original HP Engine average
EngineHP_avg = round(df['Engine HP'].mean())
print('Dataset original Engine HP average = ', EngineHP_avg)
#Copy dataset to keep original
df3 = df.copy()
#Fill missign values
df3.fillna(EngineHP_avg)
#Calcule new Engine HP average
EngineHP_avg_new = round(df3['Engine HP'].mean())
print('New dataset Engine HP average = ', EngineHP_avg_new)

Dataset original Engine HP average =  249
New dataset Engine HP average =  249

No, it hasn't changed, because the average of the average in each row filled, is the same average.

### Question 6

* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it X.
* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
* Invert XTX.

What's the sum of all the elements of the result?

In [50]:
#Select all the "Rolls-Royce" cars and only columns "Engine HP", "Engine Cylinders", "highway MPG"
df4 = df[df.Make == 'Rolls-Royce'][['Engine HP','Engine Cylinders','highway MPG']]
#Show the number of rows
print(len(df4.index))
#Drop duplicates
df5 = df4.drop_duplicates()
#Show the number of rows (must be 7)
print(len(df5.index))
#Convert to numpy array and store in X
X = df5.to_numpy()
#Multiply transpose of X and X
XTX = np.dot(X.T,X)
#Inverse XTX
IXTX = np.linalg.inv(XTX)
#Sum all the elements (must be greater than zero)
print(np.sum(IXTX))

31
7
0.03221232067748617

### Question 7

* Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the first element of w?.

In [54]:
#Creating y array
y = [1000, 1100, 900, 1200, 1000, 850, 1300]
#IXTX is the inverse of XTX from question # 6
#Transpose of X is X.T
w = np.dot(np.dot(IXTX,X.T),y)
#Show results
print(w)
print(w[0])

[ 0.19989598 31.02612262 31.65378877]
0.19989598183185908